# ServiceNow OAuth
SERVICENOW_INSTANCE_URL=OUR_INSTANCE_URL
# (values from S1.2) as intgeration user not admin
SERVICENOW_OAUTH_CLIENT_ID=
SERVICENOW_OAUTH_CLIENT_SECRET=
SERVICENOW_OAUTH_USERNAME=
SERVICENOW_OAUTH_PASSWORD=

# Our Client behaviour 
SERVICENOW_TIMEOUT=30
SERVICENOW_MAX_RETRIES=1

# Test Incident
INCIDENT_SYS_ID=Our_Testing_Icident_ID
